# Ignore Sublime Text 2/3 junk.
*.sublime-workspace

# Ignore automatically fetched tools.
_build/tools/cache

# Ingore build intermediates.
_build/*.cc

# Ingore build artifacts.
_build/**/*.exe
_build/**/*.pdb
_build/**/*.obj
_build/**/*.ilk
