[submodule "deps/foundation"]
	path = deps/foundation
	url = git@github.com:mtwilliams/foundation.git
[submodule "deps/lua"]
	path = deps/lua
	url = git@github.com:mtwilliams/Lua.git
[submodule "deps/enet"]
	path = deps/enet
	url = git@github.com:mtwilliams/enet.git
