application = {
  window = {
    title = "butane"
    dimensions = [1280, 720]
  }

  graphics = {
    adapter = 0
    resolution = [1280, 720]
    fullscreen = false
    vertical_sync = false
  }

  win32 = {
    saves_directory = "%APPDATA%/butane/saves"
    time_step_policy = {
      type = "variable"
    }
  }

  boot = {
    auto_load = ["butane.package"]
    script = "boot"
  }
}
