globals = [
  { name="depth_stencil_buffer" type="depth_stencil_target" scale=[1, 1] format="D24S8" clear=true },
  { name="albedo" type="render_target" scale=[1, 1] format="R8G8B8A8" clear=true },
  { name="normal" type="render_target" scale=[1, 1] format="R16fG16f" clear=true },
  { name="depth" type="render_target" scale=[1, 1] format="R32f" clear=true },
  { name="properties" type="render_target" scale=[1, 1] format="R8G8B8A8" clear=true }
]
