// This file is part of Butane. See README.md and LICENSE.md for details.
// Copyright (c) 2012 Michael Williams <devbug@bitbyte.ca>

#include <bt/win32/resources.h>

#include <Windows.h>
#include <CommCtrl.h>
#include <Richedit.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ENGINE_ICON ICON "..\\..\\..\\..\\butane.ico"